<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue/vue.min.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="item in items">{{item.message}}</li>
    </ul>
    <ul>
        <li v-for="(item,index) of items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
    </ul>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            parentMessage: 'Parent',
            items:[
                {message: 'Foo'},
                {message: 'Bar'},
                {message: 'Like'}
            ]
        }
    })
</script>
</body>
</html>